<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.omkar.receiptor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.529374369822-70pevf0ifmecbvf7v24ci3r47ifd3t2b</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>529374369822-70pevf0ifmecbvf7v24ci3r47ifd3t2b.apps.googleusercontent.com</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>529374369822-70pevf0ifmecbvf7v24ci3r47ifd3t2b.apps.googleusercontent.com</string>
	<key>UIUserInterfaceStyle

UIUserInterfaceStyle

UIUserInterfaceStyle

UIUserInterfaceStyle

</key>
	<string>Light</string>
</dict>
</plist>
